
<div id="container" [ngClass]="{selected: selected}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <div id="tarjeta" (click)="onClick(id)" [ngClass]="{selected: selected}">
        <div id="circulo"><img src="./../../../assets/img/bola.png" alt="" id="flecha" *ngIf="selected"></div>
        
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{id}}.png" alt="" class="pokemon-img">
        <span class="pokemon-number">No. {{id}}</span>
        <span *ngIf="data" class="pokemon-name">{{data.name | titlecase}}</span>
    </div>
</div>

  