#container {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 10px;
    isolation: isolate;
    &.selected::before{
        position: absolute;
        content: "";
        width: calc(100% + 4px);
        height: 110%;
        left: -4px;
        background-color: #da4443;
        z-index: -1;
        border-radius: 5px ;
    }
}
#arrow{
    position: absolute;
    height: 20px;
    padding: 0px 10px;
}

#card{
    display: flex;
    align-items: center;
    background-color: #fceab8;
    border-radius: 50px 5px 5px 50px;
    width: 100%;
    font-size: larger;
    padding-left: 5px;
    margin-left: 30px;
    gap: 1rem;
    &.selected{
        background-color: #f49545;
        -webkit-box-shadow: inset 0px 0px 7px 4px #fceab8;
        -moz-box-shadow: inset 0px 0px 7px 4px #fceab8;
        box-shadow: inset 0px 0px 7px 4px #fceab8;;
    }
}

#circle{
    border-radius: 50%;
    height: 40px;
    aspect-ratio: 1;
    background-color: #00000020;
}

img{
    max-height: 60px;
}