<div class="card-container" (click)="onClick()" [class.selected]="selected">
    
  <div class="indicator-box">
      <img src="assets/img/bola.png" alt="Selected" class="pokeball-icon" *ngIf="selected">
  </div>

  <div class="sprite-box">
      <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + id + '.png'" 
           alt="{{ data?.name }}" 
           loading="lazy"
           class="pokemon-img">
  </div>

  <div class="info-box">
      <span class="pokemon-number">No. {{ id }}</span>
      <span class="pokemon-name">{{ data?.name | titlecase }}</span>
  </div>

</div>