#container{
    border: 4px solid #8cbbf1;
    outline: 12px solid #f8e55c;
    max-width: 800px;
    aspect-ratio: 1.5;
    border-radius: 25px;
    background: repeating-linear-gradient(
        to bottom,
        #f5f7f9,
        #f5f7f9 15px,
        #c9e2f4 15px,
        #c9e2f4 25px
    );
    img{
        width: 60%;
        flex: 1;
        padding-left: 200px;
        align-content: center;
        align-items: center;
        image-rendering: pixelated;
    }
}