#container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 90vw; /* Usa un porcentaje del viewport */
    max-width: 400px; /* Máximo tamaño en pantallas grandes */
    aspect-ratio: 1; /* Mantiene el cuadrado */
    border-radius: 25px;
    
    margin: auto; /* Centra horizontalmente */
}

/* Ajuste de la imagen dentro del contenedor */
#container img {
    width: 80%;
    max-width: 100%;
    height: auto;
    image-rendering: pixelated;
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    #container {
        width: 80vw; /* Más ancho en móviles */
       /* Menos grosor */
    }

    #container img {
        width: 90%; /* Imagen más grande en móviles */
    }
}

/* Tablets */
@media (max-width: 768px) {
    #container {
        width: 70vw;
        max-width: 320px;
    }
}
