<div class="catching-container">
  
  <div class="action-section" *ngIf="!isLoading && !randomPokemon">
      <h1>¡Aatrapar Pokémon!</h1>
      <p>Prueba tu suerte y mira qué aparece.</p>
      <button (click)="getRandomPokemon()" class="catch-button">
        <span class="pokeball-icon"></span> Lanza Pokéball
      </button>
  </div>


  <div *ngIf="isLoading" class="loading-container">
      <div class="pokeball-spinner">
        <div class="pokeball-top"></div>
        <div class="pokeball-bottom"></div>
        <div class="pokeball-center"></div>
      </div>
      <p class="loading-text">Capturando...</p>
  </div>


  <div *ngIf="randomPokemon && !isLoading" class="result-container animate-pop-in">
      
      <div class="success-banner">¡Pokémon Atrapado!</div>

      <div class="poke-card animate-pop-in">
          <div class="poke-image-container">
              <img [src]="randomPokemon.sprites.front_default" alt="{{ randomPokemon.name }}" class="sprite animate-float">
          </div>
          
          <div class="poke-data">
              <p class="poke-id">N.º {{ randomPokemon.id | number:'3.0-0' }}</p> <h2 class="poke-name">{{ randomPokemon.name }}</h2>
              
              <div class="types-container">
                  <span *ngFor="let type of randomPokemon.types" 
                        class="type-badge" 
                        [ngClass]="type.type.name">
                      {{ type.type.name | titlecase }}
                  </span>
              </div>
          </div>
      </div>

      <button class="reset-button" (click)="resetView()">Intentar de nuevo</button>
  </div>

</div>